.search-bar {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search-icon {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.search-icon button {
  padding-right: 0px;
}